html {
  background-color: #242C2C;
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
}

.signup-form-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signup-form {
  text-align: center;
}

#signup-form input {
  display: block;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.button {
  padding: 10px 20px 10px 20px;
  background-color: #53049F;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 14px;
}

#wrapper{
  height: 100%;
  width: 100%;
}

.channel_list{
  float: left;
  width: 25%;
  height: 100%;
  overflow-y: scroll;
}

.channel_body{
  height: 100%;
  width: 75%;
  overflow-y: scroll;
  clear: right;
}

.add_channel_container{
  text-align: right;
}

.add_channel{
  padding: 10px;
  font-size: 14px;
  border-radius: 50%;
  border: none;
  background-color: blue;
}
