html {
  background-color: #232b2b;
  height: 100%;
  margin: 0;
  overflow-y: hidden;
  position: fixed;
  width: 100%;
}

body {
  height: 95%;
  margin: 0;
}

.form-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.form {
  text-align: center;
}

.form input {
  border-radius: 10px;
  display: block;
  margin-bottom: 15px;
  padding: 10px;
}

.button {
  background-color: #53049F;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
}

#wrapper{
  height: 100%;
  width: 100%;
}

.channel_list{
  float: left;
  height: 100%;
  overflow-y: scroll;
  text-align: center;
  width: 25%;
}

.channel_body{
  background-color: #353839;
  clear: right;
  height: 100%;
  overflow-y: scroll;
  width: 75%;
}

.add_channel_container{
  clear: right;
}

textarea {
  box-sizing: border-box;
  color: black;
  margin-bottom: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 80%;
}

.message_body {
  font-family: 'Roboto Condensed', sans-serif;
  border-bottom: solid 0.2px black;
  height: 75%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#send-message {
  margin-bottom: 20px;
}

.enter-message {
  bottom: 0;
  position: absolute;
  text-align: center;
}

.add_channel{
  background-color: #6CAC44;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}

.error {
  border: 1px solid white;
  background-color: #DC3C4C;
  border-radius: 5px;
  padding: 10px;
}

header {
  border-bottom: solid;
  background-color: #414a4c;
  height: 5%;
  text-align: right;
}

#navbar {
  font-family: 'Roboto Condensed', sans-serif;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 7px;
}

#navbar li {display: inline;}

#navbar a {
  color: white;
  text-decoration: none;
  padding: 5px 5px;
}

#navbar a:hover {
  background-color: #555;
  color: white;
}

header ul {margin: 0;}

.modal {
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  background-color: rgb(0,0,0); /* Fallback color */
  display: none; /* Hidden by default */
  height: 100%; /* Full height */
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  position: fixed; /* Stay in place */
  padding-top: 100px; /* Location of the box */
  text-align: center;
  top: 0;
  width: 100%; /* Full width */
  z-index: 1; /* Sit on top */
}

/* Modal Content */
.modal-content {
  background-color: #414a4c;
  border: none;
  border-radius: 5px;
  margin: auto;
  padding: 20px;
  width: 80%;
}

.modal-content input{
  background-color: white;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* scrollbars */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #3b444b;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#channel-name {
  border-radius: 2px;
  padding: 5px;
}

.channel {
  background-color: #049BDC;
  border-bottom: 0.2px solid white;
  border-radius: 0px;
  border-top: 0.2px solid white;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: center;
}

button {cursor: pointer;}

a {cursor: pointer;}

#message {border-radius: 5px;}

.message{
  background-color: #BCCCE4;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: auto;
  word-wrap: break-word;
}